{% extends 'base.html' %}

{%load static%}

{% block content %}

<link rel="stylesheet" href="{%static 'about.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Honk&family=Lobster&family=Protest+Revolution&display=swap" rel="stylesheet">

<div class="about_page">
  <div><h1 class="tittle">About Us</h1>
    <h4 class="tag-line">Get your desire meal and stay happy. We are commited to give you the best service at most we can. </br> Thank You.Come again!</h4></div>
  <img src ="{%static 'about.jpg'%}" alt = "about us img" width=40% /> </div>


{% endblock %}