body{
    background-color:rgb(216, 171, 115)
}
.about_page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 7%;
    margin-bottom: 7%;
}

.tittle{
    font-family: 'Honk', system-ui;
}
.tag-line{
    font-family: 'Protest Revolution', sans-serif;
}